div.custom-title-img {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

label.custom-label {
  margin-top: 20px;
  margin-bottom: 10px;
}

input.search-bar-custom {
  background-color: #404347;
  -webkit-text-fill-color: #afafaf;
  margin-bottom: -5px;
}

td.active-custom {
  text-align: center;
}

button.btn-custom {
  background-color: #ff9901;
}

button.btn-size {
  width: 100px;
  height: 50px;
}

button.custon-animation{
  animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

