<div class="custom-title-img" >
  <img src="/task-logo.png"/>
</div>

<div class="container mt-5">
  <div class="d-flex mt-3">
  <button class="btn btn-success w-50 mx-1" [routerLink]="['/register']" routerLinkActive="router-link-active">Add new Task</button>

  <button class="btn btn-warning w-50 mx-1 btn-management" [routerLink]="['/management']" routerLinkActive="router-link-active">Management Functions</button>
</div>
  <div>
    <label class="custom-label form-label">Search:</label>
    <input
      type="text"
      class="form-control search-bar-custom"
      placeholder="What task do you want to search for?  Name or Description"
      (input)="search($event)"
    />
  </div>

  <table class="table table-hover table-bordered mt-5">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>CreatedOn</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @if(taskList.length > 0) { @for (task of taskList; track $index) {
      <tr>
        <td>{{ task.name | slice:0:40 }}{{ task.name.length > 40 ? '...' : '' }}</td>
        <td>{{ task.description | slice:0:60 }}{{ task.description.length > 60 ? '...' : '' }}</td>
        <td>{{ task.createdOn | date:'short' }}</td>
        <td class="d-flex">
          <button class="btn btn-warning mx-2 btn-size" [routerLink]="['/edit', task.id]">Edit</button>

          <button class="btn btn-info mx-2 btn-size" [routerLink]="['/details', task.id]">Details</button>

          <button class="btn btn-danger mx-2 btn-size" (click)="ChangeActiveStatus(task.id)">Finish</button>
        </td>
      </tr>
      } }
      @else {
        <tr class="text-center">
          <td colspan="6">No tasks found</td>
        </tr>
      }
    </tbody>
  </table>
</div>
